<html>
  <head></head>
  <body>
    <h1>Albums</h1>
	<p>
    <table>
    <% @array_albums.each do |album_id, album_title, release_year, artist_name| %>
      <tr>
        <td>
          <%= artist_name %>: <a href = "/albums/<%= album_id %>"><%= album_title %></a>, <%= release_year %>
        </td>
      </tr>
    <% end %>
    </table>
	</p>
  </body>
</html>