<html>
  <head></head>
  <body>
    <div style="text-align: right;">
    <form method="POST" action="/new_artist">
      <label>Artist Name: </label>
      <input type="text" name="name" /><br>
      <label>Genre: </label>
      <input type="text" name="genre" /><br>
      <input type ="submit" />
    </form>
    </div>
  </body>
</html>